{% extends 'index.html' %}
{% block content %}

<style>
    .inputcontainer{
        width: 500px;
        height: 600px;
        margin: auto;
        margin-top: 5%;
        
        
        text-align: center;

    }
    .inputcontainer input{
        padding: 5px;
        border-radius: 20px;


    }
    .inputcontainer input:hover{
        background-color: bisque;

    }
    .inputcontainer button{
        width:auto;
        border-radius: 10px;
        background-color: #183661;
        color: aliceblue;
        font-size: 15px;
    }
    .inputcontainer h2{
        font-size: 50px;
    }
    .inputcontainer button:hover{
        background-color: rgb(31, 140, 234);
        color: rgb(0, 0, 0);
    }


</style>

<section class="banner_main">
    <div class="container">
            <div class="inputcontainer">
                <h2 style="color:aqua;">Booker Details</h2>
              <form  method ="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% for  field in form  %}
                 <h4 style="color: whitesmoke;">{{field.label}}:</h4>
                 {{field}}<br><br>

                 {% endfor %}
                <button type="submit" > Save details</button>
                
              </form>
             </div>
    </div>
 </section>
{% endblock %}
