{% extends 'index.html' %}
{% block content %}

<style>
    .container{
        margin-top: 0%;
    }
    .inputcontainer{
        margin-left: 200px;
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 5%;
         /* border: 1px solid blue;  */
        /* background-color:aliceblue; */
        text-align: center;

    }
    .inputcontainer input{
        padding: 5px;
        border-radius: 10px;


    }
    .inputcontainer input:hover{
        background-color: bisque;

    }
    .inputcontainer button{
        width: 60px;
        border-radius: 10px;
        background-color: #183661;
        color: aliceblue;
        font-size: 15px;
    }
    .inputcontainer h1{
        font-size: 50px;
    }
    .inputcontainer button:hover{
        background-color: rgb(31, 140, 234);
        color: rgb(0, 0, 0);
    }


</style>

<section class="">
    <div class="container">
       
            <div class="inputcontainer">
               <h3>want to rend your car</h3>
               <a href="">click here</a>
            </div>
             
          
    </div>
 </section>
{% endblock  %}